$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-A-Z: "\e600";
$icon-Aa: "\e601";
$icon-Add-Bag: "\e602";
$icon-Add-Basket: "\e603";
$icon-Add-Cart: "\e604";
$icon-Add-File: "\e605";
$icon-Add-SpaceAfterParagraph: "\e606";
$icon-Add-SpaceBeforeParagraph: "\e607";
$icon-Add-User: "\e608";
$icon-Add-UserStar: "\e609";
$icon-Add-Window: "\e60a";
$icon-Add: "\e60b";
$icon-Address-Book: "\e60c";
$icon-Address-Book2: "\e60d";
$icon-Administrator: "\e60e";
$icon-Aerobics-2: "\e60f";
$icon-Aerobics-3: "\e610";
$icon-Aerobics: "\e611";
$icon-Affiliate: "\e612";
$icon-Aim: "\e613";
$icon-Air-Balloon: "\e614";
$icon-Airbrush: "\e615";
$icon-Airship: "\e616";
$icon-Alarm-Clock: "\e617";
$icon-Alarm-Clock2: "\e618";
$icon-Alarm: "\e619";
$icon-Alien-2: "\e61a";
$icon-Alien: "\e61b";
$icon-Aligator: "\e61c";
$icon-Align-Center: "\e61d";
$icon-Align-JustifyAll: "\e61e";
$icon-Align-JustifyCenter: "\e61f";
$icon-Align-JustifyLeft: "\e620";
$icon-Align-JustifyRight: "\e621";
$icon-Align-Left: "\e622";
$icon-Align-Right: "\e623";
$icon-Alpha: "\e624";
$icon-Ambulance: "\e625";
$icon-AMX: "\e626";
$icon-Anchor-2: "\e627";
$icon-Anchor: "\e628";
$icon-Android-Store: "\e629";
$icon-Android: "\e62a";
$icon-Angel-Smiley: "\e62b";
$icon-Angel: "\e62c";
$icon-Angry: "\e62d";
$icon-Apple-Bite: "\e62e";
$icon-Apple-Store: "\e62f";
$icon-Apple: "\e630";
$icon-Approved-Window: "\e631";
$icon-Aquarius-2: "\e632";
$icon-Aquarius: "\e633";
$icon-Archery-2: "\e634";
$icon-Archery: "\e635";
$icon-Argentina: "\e636";
$icon-Aries-2: "\e637";
$icon-Aries: "\e638";
$icon-Army-Key: "\e639";
$icon-Arrow-Around: "\e63a";
$icon-Arrow-Back3: "\e63b";
$icon-Arrow-Back: "\e63c";
$icon-Arrow-Back2: "\e63d";
$icon-Arrow-Barrier: "\e63e";
$icon-Arrow-Circle: "\e63f";
$icon-Arrow-Cross: "\e640";
$icon-Arrow-Down: "\e641";
$icon-Arrow-Down2: "\e642";
$icon-Arrow-Down3: "\e643";
$icon-Arrow-DowninCircle: "\e644";
$icon-Arrow-Fork: "\e645";
$icon-Arrow-Forward: "\e646";
$icon-Arrow-Forward2: "\e647";
$icon-Arrow-From: "\e648";
$icon-Arrow-Inside: "\e649";
$icon-Arrow-Inside45: "\e64a";
$icon-Arrow-InsideGap: "\e64b";
$icon-Arrow-InsideGap45: "\e64c";
$icon-Arrow-Into: "\e64d";
$icon-Arrow-Join: "\e64e";
$icon-Arrow-Junction: "\e64f";
$icon-Arrow-Left: "\e650";
$icon-Arrow-Left2: "\e651";
$icon-Arrow-LeftinCircle: "\e652";
$icon-Arrow-Loop: "\e653";
$icon-Arrow-Merge: "\e654";
$icon-Arrow-Mix: "\e655";
$icon-Arrow-Next: "\e656";
$icon-Arrow-OutLeft: "\e657";
$icon-Arrow-OutRight: "\e658";
$icon-Arrow-Outside: "\e659";
$icon-Arrow-Outside45: "\e65a";
$icon-Arrow-OutsideGap: "\e65b";
$icon-Arrow-OutsideGap45: "\e65c";
$icon-Arrow-Over: "\e65d";
$icon-Arrow-Refresh: "\e65e";
$icon-Arrow-Refresh2: "\e65f";
$icon-Arrow-Right: "\e660";
$icon-Arrow-Right2: "\e661";
$icon-Arrow-RightinCircle: "\e662";
$icon-Arrow-Shuffle: "\e663";
$icon-Arrow-Squiggly: "\e664";
$icon-Arrow-Through: "\e665";
$icon-Arrow-To: "\e666";
$icon-Arrow-TurnLeft: "\e667";
$icon-Arrow-TurnRight: "\e668";
$icon-Arrow-Up: "\e669";
$icon-Arrow-Up2: "\e66a";
$icon-Arrow-Up3: "\e66b";
$icon-Arrow-UpinCircle: "\e66c";
$icon-Arrow-XLeft: "\e66d";
$icon-Arrow-XRight: "\e66e";
$icon-Ask: "\e66f";
$icon-Assistant: "\e670";
$icon-Astronaut: "\e671";
$icon-At-Sign: "\e672";
$icon-ATM: "\e673";
$icon-Atom: "\e674";
$icon-Audio: "\e675";
$icon-Auto-Flash: "\e676";
$icon-Autumn: "\e677";
$icon-Baby-Clothes: "\e678";
$icon-Baby-Clothes2: "\e679";
$icon-Baby-Cry: "\e67a";
$icon-Baby: "\e67b";
$icon-Back2: "\e67c";
$icon-Back-Media: "\e67d";
$icon-Back-Music: "\e67e";
$icon-Back: "\e67f";
$icon-Background: "\e680";
$icon-Bacteria: "\e681";
$icon-Bag-Coins: "\e682";
$icon-Bag-Items: "\e683";
$icon-Bag-Quantity: "\e684";
$icon-Bag: "\e685";
$icon-Bakelite: "\e686";
$icon-Ballet-Shoes: "\e687";
$icon-Balloon: "\e688";
$icon-Banana: "\e689";
$icon-Band-Aid: "\e68a";
$icon-Bank: "\e68b";
$icon-Bar-Chart: "\e68c";
$icon-Bar-Chart2: "\e68d";
$icon-Bar-Chart3: "\e68e";
$icon-Bar-Chart4: "\e68f";
$icon-Bar-Chart5: "\e690";
$icon-Bar-Code: "\e691";
$icon-Barricade-2: "\e692";
$icon-Barricade: "\e693";
$icon-Baseball: "\e694";
$icon-Basket-Ball: "\e695";
$icon-Basket-Coins: "\e696";
$icon-Basket-Items: "\e697";
$icon-Basket-Quantity: "\e698";
$icon-Bat-2: "\e699";
$icon-Bat: "\e69a";
$icon-Bathrobe: "\e69b";
$icon-Batman-Mask: "\e69c";
$icon-Battery-0: "\e69d";
$icon-Battery-25: "\e69e";
$icon-Battery-50: "\e69f";
$icon-Battery-75: "\e6a0";
$icon-Battery-100: "\e6a1";
$icon-Battery-Charge: "\e6a2";
$icon-Bear: "\e6a3";
$icon-Beard-2: "\e6a4";
$icon-Beard-3: "\e6a5";
$icon-Beard: "\e6a6";
$icon-Bebo: "\e6a7";
$icon-Bee: "\e6a8";
$icon-Beer-Glass: "\e6a9";
$icon-Beer: "\e6aa";
$icon-Bell-2: "\e6ab";
$icon-Bell: "\e6ac";
$icon-Belt-2: "\e6ad";
$icon-Belt-3: "\e6ae";
$icon-Belt: "\e6af";
$icon-Berlin-Tower: "\e6b0";
$icon-Beta: "\e6b1";
$icon-Betvibes: "\e6b2";
$icon-Bicycle-2: "\e6b3";
$icon-Bicycle-3: "\e6b4";
$icon-Bicycle: "\e6b5";
$icon-Big-Bang: "\e6b6";
$icon-Big-Data: "\e6b7";
$icon-Bike-Helmet: "\e6b8";
$icon-Bikini: "\e6b9";
$icon-Bilk-Bottle2: "\e6ba";
$icon-Billing: "\e6bb";
$icon-Bing: "\e6bc";
$icon-Binocular: "\e6bd";
$icon-Bio-Hazard: "\e6be";
$icon-Biotech: "\e6bf";
$icon-Bird-DeliveringLetter: "\e6c0";
$icon-Bird: "\e6c1";
$icon-Birthday-Cake: "\e6c2";
$icon-Bisexual: "\e6c3";
$icon-Bishop: "\e6c4";
$icon-Bitcoin: "\e6c5";
$icon-Black-Cat: "\e6c6";
$icon-Blackboard: "\e6c7";
$icon-Blinklist: "\e6c8";
$icon-Block-Cloud: "\e6c9";
$icon-Block-Window: "\e6ca";
$icon-Blogger: "\e6cb";
$icon-Blood: "\e6cc";
$icon-Blouse: "\e6cd";
$icon-Blueprint: "\e6ce";
$icon-Board: "\e6cf";
$icon-Bodybuilding: "\e6d0";
$icon-Bold-Text: "\e6d1";
$icon-Bone: "\e6d2";
$icon-Bones: "\e6d3";
$icon-Book: "\e6d4";
$icon-Bookmark: "\e6d5";
$icon-Books-2: "\e6d6";
$icon-Books: "\e6d7";
$icon-Boom: "\e6d8";
$icon-Boot-2: "\e6d9";
$icon-Boot: "\e6da";
$icon-Bottom-ToTop: "\e6db";
$icon-Bow-2: "\e6dc";
$icon-Bow-3: "\e6dd";
$icon-Bow-4: "\e6de";
$icon-Bow-5: "\e6df";
$icon-Bow-6: "\e6e0";
$icon-Bow: "\e6e1";
$icon-Bowling-2: "\e6e2";
$icon-Bowling: "\e6e3";
$icon-Box2: "\e6e4";
$icon-Box-Close: "\e6e5";
$icon-Box-Full: "\e6e6";
$icon-Box-Open: "\e6e7";
$icon-Box-withFolders: "\e6e8";
$icon-Box: "\e6e9";
$icon-Boy: "\e6ea";
$icon-Bra: "\e6eb";
$icon-Brain-2: "\e6ec";
$icon-Brain-3: "\e6ed";
$icon-Brain: "\e6ee";
$icon-Brazil: "\e6ef";
$icon-Bread-2: "\e6f0";
$icon-Bread: "\e6f1";
$icon-Bridge: "\e6f2";
$icon-Brightkite: "\e6f3";
$icon-Broke-Link2: "\e6f4";
$icon-Broken-Link: "\e6f5";
$icon-Broom: "\e6f6";
$icon-Brush: "\e6f7";
$icon-Bucket: "\e6f8";
$icon-Bug: "\e6f9";
$icon-Building: "\e6fa";
$icon-Bulleted-List: "\e6fb";
$icon-Bus-2: "\e6fc";
$icon-Bus: "\e6fd";
$icon-Business-Man: "\e6fe";
$icon-Business-ManWoman: "\e6ff";
$icon-Business-Mens: "\e700";
$icon-Business-Woman: "\e701";
$icon-Butterfly: "\e702";
$icon-Button: "\e703";
$icon-Cable-Car: "\e704";
$icon-Cake: "\e705";
$icon-Calculator-2: "\e706";
$icon-Calculator-3: "\e707";
$icon-Calculator: "\e708";
$icon-Calendar-2: "\e709";
$icon-Calendar-3: "\e70a";
$icon-Calendar-4: "\e70b";
$icon-Calendar-Clock: "\e70c";
$icon-Calendar: "\e70d";
$icon-Camel: "\e70e";
$icon-Camera-2: "\e70f";
$icon-Camera-3: "\e710";
$icon-Camera-4: "\e711";
$icon-Camera-5: "\e712";
$icon-Camera-Back: "\e713";
$icon-Camera: "\e714";
$icon-Can-2: "\e715";
$icon-Can: "\e716";
$icon-Canada: "\e717";
$icon-Cancer-2: "\e718";
$icon-Cancer-3: "\e719";
$icon-Cancer: "\e71a";
$icon-Candle: "\e71b";
$icon-Candy-Cane: "\e71c";
$icon-Candy: "\e71d";
$icon-Cannon: "\e71e";
$icon-Cap-2: "\e71f";
$icon-Cap-3: "\e720";
$icon-Cap-Smiley: "\e721";
$icon-Cap: "\e722";
$icon-Capricorn-2: "\e723";
$icon-Capricorn: "\e724";
$icon-Car-2: "\e725";
$icon-Car-3: "\e726";
$icon-Car-Coins: "\e727";
$icon-Car-Items: "\e728";
$icon-Car-Wheel: "\e729";
$icon-Car: "\e72a";
$icon-Cardigan: "\e72b";
$icon-Cardiovascular: "\e72c";
$icon-Cart-Quantity: "\e72d";
$icon-Casette-Tape: "\e72e";
$icon-Cash-Register: "\e72f";
$icon-Cash-register2: "\e730";
$icon-Castle: "\e731";
$icon-Cat: "\e732";
$icon-Cathedral: "\e733";
$icon-Cauldron: "\e734";
$icon-CD-2: "\e735";
$icon-CD-Cover: "\e736";
$icon-CD: "\e737";
$icon-Cello: "\e738";
$icon-Celsius: "\e739";
$icon-Chacked-Flag: "\e73a";
$icon-Chair: "\e73b";
$icon-Charger: "\e73c";
$icon-Check-2: "\e73d";
$icon-Check: "\e73e";
$icon-Checked-User: "\e73f";
$icon-Checkmate: "\e740";
$icon-Checkout-Bag: "\e741";
$icon-Checkout-Basket: "\e742";
$icon-Checkout: "\e743";
$icon-Cheese: "\e744";
$icon-Cheetah: "\e745";
$icon-Chef-Hat: "\e746";
$icon-Chef-Hat2: "\e747";
$icon-Chef: "\e748";
$icon-Chemical-2: "\e749";
$icon-Chemical-3: "\e74a";
$icon-Chemical-4: "\e74b";
$icon-Chemical-5: "\e74c";
$icon-Chemical: "\e74d";
$icon-Chess-Board: "\e74e";
$icon-Chess: "\e74f";
$icon-Chicken: "\e750";
$icon-Chile: "\e751";
$icon-Chimney: "\e752";
$icon-China: "\e753";
$icon-Chinese-Temple: "\e754";
$icon-Chip: "\e755";
$icon-Chopsticks-2: "\e756";
$icon-Chopsticks: "\e757";
$icon-Christmas-Ball: "\e758";
$icon-Christmas-Bell: "\e759";
$icon-Christmas-Candle: "\e75a";
$icon-Christmas-Hat: "\e75b";
$icon-Christmas-Sleigh: "\e75c";
$icon-Christmas-Snowman: "\e75d";
$icon-Christmas-Sock: "\e75e";
$icon-Christmas-Tree: "\e75f";
$icon-Christmas: "\e760";
$icon-Chrome: "\e761";
$icon-Chrysler-Building: "\e762";
$icon-Cinema: "\e763";
$icon-Circular-Point: "\e764";
$icon-City-Hall: "\e765";
$icon-Clamp: "\e766";
$icon-Clapperboard-Close: "\e767";
$icon-Clapperboard-Open: "\e768";
$icon-Claps: "\e769";
$icon-Clef: "\e76a";
$icon-Clinic: "\e76b";
$icon-Clock-2: "\e76c";
$icon-Clock-3: "\e76d";
$icon-Clock-4: "\e76e";
$icon-Clock-Back: "\e76f";
$icon-Clock-Forward: "\e770";
$icon-Clock: "\e771";
$icon-Close-Window: "\e772";
$icon-Close: "\e773";
$icon-Clothing-Store: "\e774";
$icon-Cloud--: "\e775";
$icon-Cloud-: "\e776";
$icon-Cloud-Camera: "\e777";
$icon-Cloud-Computer: "\e778";
$icon-Cloud-Email: "\e779";
$icon-Cloud-Hail: "\e77a";
$icon-Cloud-Laptop: "\e77b";
$icon-Cloud-Lock: "\e77c";
$icon-Cloud-Moon: "\e77d";
$icon-Cloud-Music: "\e77e";
$icon-Cloud-Picture: "\e77f";
$icon-Cloud-Rain: "\e780";
$icon-Cloud-Remove: "\e781";
$icon-Cloud-Secure: "\e782";
$icon-Cloud-Settings: "\e783";
$icon-Cloud-Smartphone: "\e784";
$icon-Cloud-Snow: "\e785";
$icon-Cloud-Sun: "\e786";
$icon-Cloud-Tablet: "\e787";
$icon-Cloud-Video: "\e788";
$icon-Cloud-Weather: "\e789";
$icon-Cloud: "\e78a";
$icon-Clouds-Weather: "\e78b";
$icon-Clouds: "\e78c";
$icon-Clown: "\e78d";
$icon-CMYK: "\e78e";
$icon-Coat: "\e78f";
$icon-Cocktail: "\e790";
$icon-Coconut: "\e791";
$icon-Code-Window: "\e792";
$icon-Coding: "\e793";
$icon-Coffee-2: "\e794";
$icon-Coffee-Bean: "\e795";
$icon-Coffee-Machine: "\e796";
$icon-Coffee-toGo: "\e797";
$icon-Coffee: "\e798";
$icon-Coffin: "\e799";
$icon-Coin: "\e79a";
$icon-Coins-2: "\e79b";
$icon-Coins-3: "\e79c";
$icon-Coins: "\e79d";
$icon-Colombia: "\e79e";
$icon-Colosseum: "\e79f";
$icon-Column-2: "\e7a0";
$icon-Column-3: "\e7a1";
$icon-Column: "\e7a2";
$icon-Comb-2: "\e7a3";
$icon-Comb: "\e7a4";
$icon-Communication-Tower: "\e7a5";
$icon-Communication-Tower2: "\e7a6";
$icon-Compass-2: "\e7a7";
$icon-Compass-3: "\e7a8";
$icon-Compass-4: "\e7a9";
$icon-Compass-Rose: "\e7aa";
$icon-Compass: "\e7ab";
$icon-Computer-2: "\e7ac";
$icon-Computer-3: "\e7ad";
$icon-Computer-Secure: "\e7ae";
$icon-Computer: "\e7af";
$icon-Conference: "\e7b0";
$icon-Confused: "\e7b1";
$icon-Conservation: "\e7b2";
$icon-Consulting: "\e7b3";
$icon-Contrast: "\e7b4";
$icon-Control-2: "\e7b5";
$icon-Control: "\e7b6";
$icon-Cookie-Man: "\e7b7";
$icon-Cookies: "\e7b8";
$icon-Cool-Guy: "\e7b9";
$icon-Cool: "\e7ba";
$icon-Copyright: "\e7bb";
$icon-Costume: "\e7bc";
$icon-Couple-Sign: "\e7bd";
$icon-Cow: "\e7be";
$icon-CPU: "\e7bf";
$icon-Crane: "\e7c0";
$icon-Cranium: "\e7c1";
$icon-Credit-Card: "\e7c2";
$icon-Credit-Card2: "\e7c3";
$icon-Credit-Card3: "\e7c4";
$icon-Cricket: "\e7c5";
$icon-Criminal: "\e7c6";
$icon-Croissant: "\e7c7";
$icon-Crop-2: "\e7c8";
$icon-Crop-3: "\e7c9";
$icon-Crown-2: "\e7ca";
$icon-Crown: "\e7cb";
$icon-Crying: "\e7cc";
$icon-Cube-Molecule: "\e7cd";
$icon-Cube-Molecule2: "\e7ce";
$icon-Cupcake: "\e7cf";
$icon-Cursor-Click: "\e7d0";
$icon-Cursor-Click2: "\e7d1";
$icon-Cursor-Move: "\e7d2";
$icon-Cursor-Move2: "\e7d3";
$icon-Cursor-Select: "\e7d4";
$icon-Cursor: "\e7d5";
$icon-D-Eyeglasses: "\e7d6";
$icon-D-Eyeglasses2: "\e7d7";
$icon-Dam: "\e7d8";
$icon-Danemark: "\e7d9";
$icon-Danger-2: "\e7da";
$icon-Danger: "\e7db";
$icon-Dashboard: "\e7dc";
$icon-Data-Backup: "\e7dd";
$icon-Data-Block: "\e7de";
$icon-Data-Center: "\e7df";
$icon-Data-Clock: "\e7e0";
$icon-Data-Cloud: "\e7e1";
$icon-Data-Compress: "\e7e2";
$icon-Data-Copy: "\e7e3";
$icon-Data-Download: "\e7e4";
$icon-Data-Financial: "\e7e5";
$icon-Data-Key: "\e7e6";
$icon-Data-Lock: "\e7e7";
$icon-Data-Network: "\e7e8";
$icon-Data-Password: "\e7e9";
$icon-Data-Power: "\e7ea";
$icon-Data-Refresh: "\e7eb";
$icon-Data-Save: "\e7ec";
$icon-Data-Search: "\e7ed";
$icon-Data-Security: "\e7ee";
$icon-Data-Settings: "\e7ef";
$icon-Data-Sharing: "\e7f0";
$icon-Data-Shield: "\e7f1";
$icon-Data-Signal: "\e7f2";
$icon-Data-Storage: "\e7f3";
$icon-Data-Stream: "\e7f4";
$icon-Data-Transfer: "\e7f5";
$icon-Data-Unlock: "\e7f6";
$icon-Data-Upload: "\e7f7";
$icon-Data-Yes: "\e7f8";
$icon-Data: "\e7f9";
$icon-David-Star: "\e7fa";
$icon-Daylight: "\e7fb";
$icon-Death: "\e7fc";
$icon-Debian: "\e7fd";
$icon-Dec: "\e7fe";
$icon-Decrase-Inedit: "\e7ff";
$icon-Deer-2: "\e800";
$icon-Deer: "\e801";
$icon-Delete-File: "\e802";
$icon-Delete-Window: "\e803";
$icon-Delicious: "\e804";
$icon-Depression: "\e805";
$icon-Deviantart: "\e806";
$icon-Device-SyncwithCloud: "\e807";
$icon-Diamond: "\e808";
$icon-Dice-2: "\e809";
$icon-Dice: "\e80a";
$icon-Digg: "\e80b";
$icon-Digital-Drawing: "\e80c";
$icon-Diigo: "\e80d";
$icon-Dinosaur: "\e80e";
$icon-Diploma-2: "\e80f";
$icon-Diploma: "\e810";
$icon-Direction-East: "\e811";
$icon-Direction-North: "\e812";
$icon-Direction-South: "\e813";
$icon-Direction-West: "\e814";
$icon-Director: "\e815";
$icon-Disk: "\e816";
$icon-Dj: "\e817";
$icon-DNA-2: "\e818";
$icon-DNA-Helix: "\e819";
$icon-DNA: "\e81a";
$icon-Doctor: "\e81b";
$icon-Dog: "\e81c";
$icon-Dollar-Sign: "\e81d";
$icon-Dollar-Sign2: "\e81e";
$icon-Dollar: "\e81f";
$icon-Dolphin: "\e820";
$icon-Domino: "\e821";
$icon-Door-Hanger: "\e822";
$icon-Door: "\e823";
$icon-Doplr: "\e824";
$icon-Double-Circle: "\e825";
$icon-Double-Tap: "\e826";
$icon-Doughnut: "\e827";
$icon-Dove: "\e828";
$icon-Down-2: "\e829";
$icon-Down-3: "\e82a";
$icon-Down-4: "\e82b";
$icon-Down: "\e82c";
$icon-Download-2: "\e82d";
$icon-Download-fromCloud: "\e82e";
$icon-Download-Window: "\e82f";
$icon-Download: "\e830";
$icon-Downward: "\e831";
$icon-Drag-Down: "\e832";
$icon-Drag-Left: "\e833";
$icon-Drag-Right: "\e834";
$icon-Drag-Up: "\e835";
$icon-Drag: "\e836";
$icon-Dress: "\e837";
$icon-Drill-2: "\e838";
$icon-Drill: "\e839";
$icon-Drop: "\e83a";
$icon-Dropbox: "\e83b";
$icon-Drum: "\e83c";
$icon-Dry: "\e83d";
$icon-Duck: "\e83e";
$icon-Dumbbell: "\e83f";
$icon-Duplicate-Layer: "\e840";
$icon-Duplicate-Window: "\e841";
$icon-DVD: "\e842";
$icon-Eagle: "\e843";
$icon-Ear: "\e844";
$icon-Earphones-2: "\e845";
$icon-Earphones: "\e846";
$icon-Eci-Icon: "\e847";
$icon-Edit-Map: "\e848";
$icon-Edit: "\e849";
$icon-Eggs: "\e84a";
$icon-Egypt: "\e84b";
$icon-Eifel-Tower: "\e84c";
$icon-eject-2: "\e84d";
$icon-Eject: "\e84e";
$icon-El-Castillo: "\e84f";
$icon-Elbow: "\e850";
$icon-Electric-Guitar: "\e851";
$icon-Electricity: "\e852";
$icon-Elephant: "\e853";
$icon-Email: "\e854";
$icon-Embassy: "\e855";
$icon-Empire-StateBuilding: "\e856";
$icon-Empty-Box: "\e857";
$icon-End2: "\e858";
$icon-End-2: "\e859";
$icon-End: "\e85a";
$icon-Endways: "\e85b";
$icon-Engineering: "\e85c";
$icon-Envelope-2: "\e85d";
$icon-Envelope: "\e85e";
$icon-Environmental-2: "\e85f";
$icon-Environmental-3: "\e860";
$icon-Environmental: "\e861";
$icon-Equalizer: "\e862";
$icon-Eraser-2: "\e863";
$icon-Eraser-3: "\e864";
$icon-Eraser: "\e865";
$icon-Error-404Window: "\e866";
$icon-Euro-Sign: "\e867";
$icon-Euro-Sign2: "\e868";
$icon-Euro: "\e869";
$icon-Evernote: "\e86a";
$icon-Evil: "\e86b";
$icon-Explode: "\e86c";
$icon-Eye-2: "\e86d";
$icon-Eye-Blind: "\e86e";
$icon-Eye-Invisible: "\e86f";
$icon-Eye-Scan: "\e870";
$icon-Eye-Visible: "\e871";
$icon-Eye: "\e872";
$icon-Eyebrow-2: "\e873";
$icon-Eyebrow-3: "\e874";
$icon-Eyebrow: "\e875";
$icon-Eyeglasses-Smiley: "\e876";
$icon-Eyeglasses-Smiley2: "\e877";
$icon-Face-Style: "\e878";
$icon-Face-Style2: "\e879";
$icon-Face-Style3: "\e87a";
$icon-Face-Style4: "\e87b";
$icon-Face-Style5: "\e87c";
$icon-Face-Style6: "\e87d";
$icon-Facebook-2: "\e87e";
$icon-Facebook: "\e87f";
$icon-Factory-2: "\e880";
$icon-Factory: "\e881";
$icon-Fahrenheit: "\e882";
$icon-Family-Sign: "\e883";
$icon-Fan: "\e884";
$icon-Farmer: "\e885";
$icon-Fashion: "\e886";
$icon-Favorite-Window: "\e887";
$icon-Fax: "\e888";
$icon-Feather: "\e889";
$icon-Feedburner: "\e88a";
$icon-Female-2: "\e88b";
$icon-Female-Sign: "\e88c";
$icon-Female: "\e88d";
$icon-File-Block: "\e88e";
$icon-File-Bookmark: "\e88f";
$icon-File-Chart: "\e890";
$icon-File-Clipboard: "\e891";
$icon-File-ClipboardFileText: "\e892";
$icon-File-ClipboardTextImage: "\e893";
$icon-File-Cloud: "\e894";
$icon-File-Copy: "\e895";
$icon-File-Copy2: "\e896";
$icon-File-CSV: "\e897";
$icon-File-Download: "\e898";
$icon-File-Edit: "\e899";
$icon-File-Excel: "\e89a";
$icon-File-Favorite: "\e89b";
$icon-File-Fire: "\e89c";
$icon-File-Graph: "\e89d";
$icon-File-Hide: "\e89e";
$icon-File-Horizontal: "\e89f";
$icon-File-HorizontalText: "\e8a0";
$icon-File-HTML: "\e8a1";
$icon-File-JPG: "\e8a2";
$icon-File-Link: "\e8a3";
$icon-File-Loading: "\e8a4";
$icon-File-Lock: "\e8a5";
$icon-File-Love: "\e8a6";
$icon-File-Music: "\e8a7";
$icon-File-Network: "\e8a8";
$icon-File-Pictures: "\e8a9";
$icon-File-Pie: "\e8aa";
$icon-File-Presentation: "\e8ab";
$icon-File-Refresh: "\e8ac";
$icon-File-Search: "\e8ad";
$icon-File-Settings: "\e8ae";
$icon-File-Share: "\e8af";
$icon-File-TextImage: "\e8b0";
$icon-File-Trash: "\e8b1";
$icon-File-TXT: "\e8b2";
$icon-File-Upload: "\e8b3";
$icon-File-Video: "\e8b4";
$icon-File-Word: "\e8b5";
$icon-File-Zip: "\e8b6";
$icon-File: "\e8b7";
$icon-Files: "\e8b8";
$icon-Film-Board: "\e8b9";
$icon-Film-Cartridge: "\e8ba";
$icon-Film-Strip: "\e8bb";
$icon-Film-Video: "\e8bc";
$icon-Film: "\e8bd";
$icon-Filter-2: "\e8be";
$icon-Filter: "\e8bf";
$icon-Financial: "\e8c0";
$icon-Find-User: "\e8c1";
$icon-Finger-DragFourSides: "\e8c2";
$icon-Finger-DragTwoSides: "\e8c3";
$icon-Finger-Print: "\e8c4";
$icon-Finger: "\e8c5";
$icon-Fingerprint-2: "\e8c6";
$icon-Fingerprint: "\e8c7";
$icon-Fire-Flame: "\e8c8";
$icon-Fire-Flame2: "\e8c9";
$icon-Fire-Hydrant: "\e8ca";
$icon-Fire-Staion: "\e8cb";
$icon-Firefox: "\e8cc";
$icon-Firewall: "\e8cd";
$icon-First-Aid: "\e8ce";
$icon-First: "\e8cf";
$icon-Fish-Food: "\e8d0";
$icon-Fish: "\e8d1";
$icon-Fit-To: "\e8d2";
$icon-Fit-To2: "\e8d3";
$icon-Five-Fingers: "\e8d4";
$icon-Five-FingersDrag: "\e8d5";
$icon-Five-FingersDrag2: "\e8d6";
$icon-Five-FingersTouch: "\e8d7";
$icon-Flag-2: "\e8d8";
$icon-Flag-3: "\e8d9";
$icon-Flag-4: "\e8da";
$icon-Flag-5: "\e8db";
$icon-Flag-6: "\e8dc";
$icon-Flag: "\e8dd";
$icon-Flamingo: "\e8de";
$icon-Flash-2: "\e8df";
$icon-Flash-Video: "\e8e0";
$icon-Flash: "\e8e1";
$icon-Flashlight: "\e8e2";
$icon-Flask-2: "\e8e3";
$icon-Flask: "\e8e4";
$icon-Flick: "\e8e5";
$icon-Flickr: "\e8e6";
$icon-Flowerpot: "\e8e7";
$icon-Fluorescent: "\e8e8";
$icon-Fog-Day: "\e8e9";
$icon-Fog-Night: "\e8ea";
$icon-Folder-Add: "\e8eb";
$icon-Folder-Archive: "\e8ec";
$icon-Folder-Binder: "\e8ed";
$icon-Folder-Binder2: "\e8ee";
$icon-Folder-Block: "\e8ef";
$icon-Folder-Bookmark: "\e8f0";
$icon-Folder-Close: "\e8f1";
$icon-Folder-Cloud: "\e8f2";
$icon-Folder-Delete: "\e8f3";
$icon-Folder-Download: "\e8f4";
$icon-Folder-Edit: "\e8f5";
$icon-Folder-Favorite: "\e8f6";
$icon-Folder-Fire: "\e8f7";
$icon-Folder-Hide: "\e8f8";
$icon-Folder-Link: "\e8f9";
$icon-Folder-Loading: "\e8fa";
$icon-Folder-Lock: "\e8fb";
$icon-Folder-Love: "\e8fc";
$icon-Folder-Music: "\e8fd";
$icon-Folder-Network: "\e8fe";
$icon-Folder-Open: "\e8ff";
$icon-Folder-Open2: "\e900";
$icon-Folder-Organizing: "\e901";
$icon-Folder-Pictures: "\e902";
$icon-Folder-Refresh: "\e903";
$icon-Folder-Remove-: "\e904";
$icon-Folder-Search: "\e905";
$icon-Folder-Settings: "\e906";
$icon-Folder-Share: "\e907";
$icon-Folder-Trash: "\e908";
$icon-Folder-Upload: "\e909";
$icon-Folder-Video: "\e90a";
$icon-Folder-WithDocument: "\e90b";
$icon-Folder-Zip: "\e90c";
$icon-Folder: "\e90d";
$icon-Folders: "\e90e";
$icon-Font-Color: "\e90f";
$icon-Font-Name: "\e910";
$icon-Font-Size: "\e911";
$icon-Font-Style: "\e912";
$icon-Font-StyleSubscript: "\e913";
$icon-Font-StyleSuperscript: "\e914";
$icon-Font-Window: "\e915";
$icon-Foot-2: "\e916";
$icon-Foot: "\e917";
$icon-Football-2: "\e918";
$icon-Football: "\e919";
$icon-Footprint-2: "\e91a";
$icon-Footprint-3: "\e91b";
$icon-Footprint: "\e91c";
$icon-Forest: "\e91d";
$icon-Fork: "\e91e";
$icon-Formspring: "\e91f";
$icon-Formula: "\e920";
$icon-Forsquare: "\e921";
$icon-Forward: "\e922";
$icon-Fountain-Pen: "\e923";
$icon-Four-Fingers: "\e924";
$icon-Four-FingersDrag: "\e925";
$icon-Four-FingersDrag2: "\e926";
$icon-Four-FingersTouch: "\e927";
$icon-Fox: "\e928";
$icon-Frankenstein: "\e929";
$icon-French-Fries: "\e92a";
$icon-Friendfeed: "\e92b";
$icon-Friendster: "\e92c";
$icon-Frog: "\e92d";
$icon-Fruits: "\e92e";
$icon-Fuel: "\e92f";
$icon-Full-Bag: "\e930";
$icon-Full-Basket: "\e931";
$icon-Full-Cart: "\e932";
$icon-Full-Moon: "\e933";
$icon-Full-Screen: "\e934";
$icon-Full-Screen2: "\e935";
$icon-Full-View: "\e936";
$icon-Full-View2: "\e937";
$icon-Full-ViewWindow: "\e938";
$icon-Function: "\e939";
$icon-Funky: "\e93a";
$icon-Funny-Bicycle: "\e93b";
$icon-Furl: "\e93c";
$icon-Gamepad-2: "\e93d";
$icon-Gamepad: "\e93e";
$icon-Gas-Pump: "\e93f";
$icon-Gaugage-2: "\e940";
$icon-Gaugage: "\e941";
$icon-Gay: "\e942";
$icon-Gear-2: "\e943";
$icon-Gear: "\e944";
$icon-Gears-2: "\e945";
$icon-Gears: "\e946";
$icon-Geek-2: "\e947";
$icon-Geek: "\e948";
$icon-Gemini-2: "\e949";
$icon-Gemini: "\e94a";
$icon-Genius: "\e94b";
$icon-Gentleman: "\e94c";
$icon-Geo--: "\e94d";
$icon-Geo-: "\e94e";
$icon-Geo-Close: "\e94f";
$icon-Geo-Love: "\e950";
$icon-Geo-Number: "\e951";
$icon-Geo-Star: "\e952";
$icon-Geo: "\e953";
$icon-Geo2--: "\e954";
$icon-Geo2-: "\e955";
$icon-Geo2-Close: "\e956";
$icon-Geo2-Love: "\e957";
$icon-Geo2-Number: "\e958";
$icon-Geo2-Star: "\e959";
$icon-Geo2: "\e95a";
$icon-Geo3--: "\e95b";
$icon-Geo3-: "\e95c";
$icon-Geo3-Close: "\e95d";
$icon-Geo3-Love: "\e95e";
$icon-Geo3-Number: "\e95f";
$icon-Geo3-Star: "\e960";
$icon-Geo3: "\e961";
$icon-Gey: "\e962";
$icon-Gift-Box: "\e963";
$icon-Giraffe: "\e964";
$icon-Girl: "\e965";
$icon-Glass-Water: "\e966";
$icon-Glasses-2: "\e967";
$icon-Glasses-3: "\e968";
$icon-Glasses: "\e969";
$icon-Global-Position: "\e96a";
$icon-Globe-2: "\e96b";
$icon-Globe: "\e96c";
$icon-Gloves: "\e96d";
$icon-Go-Bottom: "\e96e";
$icon-Go-Top: "\e96f";
$icon-Goggles: "\e970";
$icon-Golf-2: "\e971";
$icon-Golf: "\e972";
$icon-Google-Buzz: "\e973";
$icon-Google-Drive: "\e974";
$icon-Google-Play: "\e975";
$icon-Google-Plus: "\e976";
$icon-Google: "\e977";
$icon-Gopro: "\e978";
$icon-Gorilla: "\e979";
$icon-Gowalla: "\e97a";
$icon-Grave: "\e97b";
$icon-Graveyard: "\e97c";
$icon-Greece: "\e97d";
$icon-Green-Energy: "\e97e";
$icon-Green-House: "\e97f";
$icon-Guitar: "\e980";
$icon-Gun-2: "\e981";
$icon-Gun-3: "\e982";
$icon-Gun: "\e983";
$icon-Gymnastics: "\e984";
$icon-Hair-2: "\e985";
$icon-Hair-3: "\e986";
$icon-Hair-4: "\e987";
$icon-Hair: "\e988";
$icon-Half-Moon: "\e989";
$icon-Halloween-HalfMoon: "\e98a";
$icon-Halloween-Moon: "\e98b";
$icon-Hamburger: "\e98c";
$icon-Hammer: "\e98d";
$icon-Hand-Touch: "\e98e";
$icon-Hand-Touch2: "\e98f";
$icon-Hand-TouchSmartphone: "\e990";
$icon-Hand: "\e991";
$icon-Hands: "\e992";
$icon-Handshake: "\e993";
$icon-Hanger: "\e994";
$icon-Happy: "\e995";
$icon-Hat-2: "\e996";
$icon-Hat: "\e997";
$icon-Haunted-House: "\e998";
$icon-HD-Video: "\e999";
$icon-HD: "\e99a";
$icon-HDD: "\e99b";
$icon-Headphone: "\e99c";
$icon-Headphones: "\e99d";
$icon-Headset: "\e99e";
$icon-Heart-2: "\e99f";
$icon-Heart: "\e9a0";
$icon-Heels-2: "\e9a1";
$icon-Heels: "\e9a2";
$icon-Height-Window: "\e9a3";
$icon-Helicopter-2: "\e9a4";
$icon-Helicopter: "\e9a5";
$icon-Helix-2: "\e9a6";
$icon-Hello: "\e9a7";
$icon-Helmet-2: "\e9a8";
$icon-Helmet-3: "\e9a9";
$icon-Helmet: "\e9aa";
$icon-Hipo: "\e9ab";
$icon-Hipster-Glasses: "\e9ac";
$icon-Hipster-Glasses2: "\e9ad";
$icon-Hipster-Glasses3: "\e9ae";
$icon-Hipster-Headphones: "\e9af";
$icon-Hipster-Men: "\e9b0";
$icon-Hipster-Men2: "\e9b1";
$icon-Hipster-Men3: "\e9b2";
$icon-Hipster-Sunglasses: "\e9b3";
$icon-Hipster-Sunglasses2: "\e9b4";
$icon-Hipster-Sunglasses3: "\e9b5";
$icon-Hokey: "\e9b6";
$icon-Holly: "\e9b7";
$icon-Home-2: "\e9b8";
$icon-Home-3: "\e9b9";
$icon-Home-4: "\e9ba";
$icon-Home-5: "\e9bb";
$icon-Home-Window: "\e9bc";
$icon-Home: "\e9bd";
$icon-Homosexual: "\e9be";
$icon-Honey: "\e9bf";
$icon-Hong-Kong: "\e9c0";
$icon-Hoodie: "\e9c1";
$icon-Horror: "\e9c2";
$icon-Horse: "\e9c3";
$icon-Hospital-2: "\e9c4";
$icon-Hospital: "\e9c5";
$icon-Host: "\e9c6";
$icon-Hot-Dog: "\e9c7";
$icon-Hotel: "\e9c8";
$icon-Hour: "\e9c9";
$icon-Hub: "\e9ca";
$icon-Humor: "\e9cb";
$icon-Hurt: "\e9cc";
$icon-Ice-Cream: "\e9cd";
$icon-ICQ: "\e9ce";
$icon-ID-2: "\e9cf";
$icon-ID-3: "\e9d0";
$icon-ID-Card: "\e9d1";
$icon-Idea-2: "\e9d2";
$icon-Idea-3: "\e9d3";
$icon-Idea-4: "\e9d4";
$icon-Idea-5: "\e9d5";
$icon-Idea: "\e9d6";
$icon-Identification-Badge: "\e9d7";
$icon-ImDB: "\e9d8";
$icon-Inbox-Empty: "\e9d9";
$icon-Inbox-Forward: "\e9da";
$icon-Inbox-Full: "\e9db";
$icon-Inbox-Into: "\e9dc";
$icon-Inbox-Out: "\e9dd";
$icon-Inbox-Reply: "\e9de";
$icon-Inbox: "\e9df";
$icon-Increase-Inedit: "\e9e0";
$icon-Indent-FirstLine: "\e9e1";
$icon-Indent-LeftMargin: "\e9e2";
$icon-Indent-RightMargin: "\e9e3";
$icon-India: "\e9e4";
$icon-Info-Window: "\e9e5";
$icon-Information: "\e9e6";
$icon-Inifity: "\e9e7";
$icon-Instagram: "\e9e8";
$icon-Internet-2: "\e9e9";
$icon-Internet-Explorer: "\e9ea";
$icon-Internet-Smiley: "\e9eb";
$icon-Internet: "\e9ec";
$icon-iOS-Apple: "\e9ed";
$icon-Israel: "\e9ee";
$icon-Italic-Text: "\e9ef";
$icon-Jacket-2: "\e9f0";
$icon-Jacket: "\e9f1";
$icon-Jamaica: "\e9f2";
$icon-Japan: "\e9f3";
$icon-Japanese-Gate: "\e9f4";
$icon-Jeans: "\e9f5";
$icon-Jeep-2: "\e9f6";
$icon-Jeep: "\e9f7";
$icon-Jet: "\e9f8";
$icon-Joystick: "\e9f9";
$icon-Juice: "\e9fa";
$icon-Jump-Rope: "\e9fb";
$icon-Kangoroo: "\e9fc";
$icon-Kenya: "\e9fd";
$icon-Key-2: "\e9fe";
$icon-Key-3: "\e9ff";
$icon-Key-Lock: "\ea00";
$icon-Key: "\ea01";
$icon-Keyboard: "\ea02";
$icon-Keyboard3: "\ea03";
$icon-Keypad: "\ea04";
$icon-King-2: "\ea05";
$icon-King: "\ea06";
$icon-Kiss: "\ea07";
$icon-Knee: "\ea08";
$icon-Knife-2: "\ea09";
$icon-Knife: "\ea0a";
$icon-Knight: "\ea0b";
$icon-Koala: "\ea0c";
$icon-Korea: "\ea0d";
$icon-Lamp: "\ea0e";
$icon-Landscape-2: "\ea0f";
$icon-Landscape: "\ea10";
$icon-Lantern: "\ea11";
$icon-Laptop-2: "\ea12";
$icon-Laptop-3: "\ea13";
$icon-Laptop-Phone: "\ea14";
$icon-Laptop-Secure: "\ea15";
$icon-Laptop-Tablet: "\ea16";
$icon-Laptop: "\ea17";
$icon-Laser: "\ea18";
$icon-Last-FM: "\ea19";
$icon-Last: "\ea1a";
$icon-Laughing: "\ea1b";
$icon-Layer-1635: "\ea1c";
$icon-Layer-1646: "\ea1d";
$icon-Layer-Backward: "\ea1e";
$icon-Layer-Forward: "\ea1f";
$icon-Leafs-2: "\ea20";
$icon-Leafs: "\ea21";
$icon-Leaning-Tower: "\ea22";
$icon-Left--Right: "\ea23";
$icon-Left--Right3: "\ea24";
$icon-Left-2: "\ea25";
$icon-Left-3: "\ea26";
$icon-Left-4: "\ea27";
$icon-Left-ToRight: "\ea28";
$icon-Left: "\ea29";
$icon-Leg-2: "\ea2a";
$icon-Leg: "\ea2b";
$icon-Lego: "\ea2c";
$icon-Lemon: "\ea2d";
$icon-Len-2: "\ea2e";
$icon-Len-3: "\ea2f";
$icon-Len: "\ea30";
$icon-Leo-2: "\ea31";
$icon-Leo: "\ea32";
$icon-Leopard: "\ea33";
$icon-Lesbian: "\ea34";
$icon-Lesbians: "\ea35";
$icon-Letter-Close: "\ea36";
$icon-Letter-Open: "\ea37";
$icon-Letter-Sent: "\ea38";
$icon-Libra-2: "\ea39";
$icon-Libra: "\ea3a";
$icon-Library-2: "\ea3b";
$icon-Library: "\ea3c";
$icon-Life-Jacket: "\ea3d";
$icon-Life-Safer: "\ea3e";
$icon-Light-Bulb: "\ea3f";
$icon-Light-Bulb2: "\ea40";
$icon-Light-BulbLeaf: "\ea41";
$icon-Lighthouse: "\ea42";
$icon-Like-2: "\ea43";
$icon-Like: "\ea44";
$icon-Line-Chart: "\ea45";
$icon-Line-Chart2: "\ea46";
$icon-Line-Chart3: "\ea47";
$icon-Line-Chart4: "\ea48";
$icon-Line-Spacing: "\ea49";
$icon-Line-SpacingText: "\ea4a";
$icon-Link-2: "\ea4b";
$icon-Link: "\ea4c";
$icon-Linkedin-2: "\ea4d";
$icon-Linkedin: "\ea4e";
$icon-Linux: "\ea4f";
$icon-Lion: "\ea50";
$icon-Livejournal: "\ea51";
$icon-Loading-2: "\ea52";
$icon-Loading-3: "\ea53";
$icon-Loading-Window: "\ea54";
$icon-Loading: "\ea55";
$icon-Location-2: "\ea56";
$icon-Location: "\ea57";
$icon-Lock-2: "\ea58";
$icon-Lock-3: "\ea59";
$icon-Lock-User: "\ea5a";
$icon-Lock-Window: "\ea5b";
$icon-Lock: "\ea5c";
$icon-Lollipop-2: "\ea5d";
$icon-Lollipop-3: "\ea5e";
$icon-Lollipop: "\ea5f";
$icon-Loop: "\ea60";
$icon-Loud: "\ea61";
$icon-Loudspeaker: "\ea62";
$icon-Love-2: "\ea63";
$icon-Love-User: "\ea64";
$icon-Love-Window: "\ea65";
$icon-Love: "\ea66";
$icon-Lowercase-Text: "\ea67";
$icon-Luggafe-Front: "\ea68";
$icon-Luggage-2: "\ea69";
$icon-Macro: "\ea6a";
$icon-Magic-Wand: "\ea6b";
$icon-Magnet: "\ea6c";
$icon-Magnifi-Glass-: "\ea6d";
$icon-Magnifi-Glass: "\ea6e";
$icon-Magnifi-Glass2: "\ea6f";
$icon-Mail-2: "\ea70";
$icon-Mail-3: "\ea71";
$icon-Mail-Add: "\ea72";
$icon-Mail-Attachement: "\ea73";
$icon-Mail-Block: "\ea74";
$icon-Mail-Delete: "\ea75";
$icon-Mail-Favorite: "\ea76";
$icon-Mail-Forward: "\ea77";
$icon-Mail-Gallery: "\ea78";
$icon-Mail-Inbox: "\ea79";
$icon-Mail-Link: "\ea7a";
$icon-Mail-Lock: "\ea7b";
$icon-Mail-Love: "\ea7c";
$icon-Mail-Money: "\ea7d";
$icon-Mail-Open: "\ea7e";
$icon-Mail-Outbox: "\ea7f";
$icon-Mail-Password: "\ea80";
$icon-Mail-Photo: "\ea81";
$icon-Mail-Read: "\ea82";
$icon-Mail-Removex: "\ea83";
$icon-Mail-Reply: "\ea84";
$icon-Mail-ReplyAll: "\ea85";
$icon-Mail-Search: "\ea86";
$icon-Mail-Send: "\ea87";
$icon-Mail-Settings: "\ea88";
$icon-Mail-Unread: "\ea89";
$icon-Mail-Video: "\ea8a";
$icon-Mail-withAtSign: "\ea8b";
$icon-Mail-WithCursors: "\ea8c";
$icon-Mail: "\ea8d";
$icon-Mailbox-Empty: "\ea8e";
$icon-Mailbox-Full: "\ea8f";
$icon-Male-2: "\ea90";
$icon-Male-Sign: "\ea91";
$icon-Male: "\ea92";
$icon-MaleFemale: "\ea93";
$icon-Man-Sign: "\ea94";
$icon-Management: "\ea95";
$icon-Mans-Underwear: "\ea96";
$icon-Mans-Underwear2: "\ea97";
$icon-Map-Marker: "\ea98";
$icon-Map-Marker2: "\ea99";
$icon-Map-Marker3: "\ea9a";
$icon-Map: "\ea9b";
$icon-Map2: "\ea9c";
$icon-Marker-2: "\ea9d";
$icon-Marker-3: "\ea9e";
$icon-Marker: "\ea9f";
$icon-Martini-Glass: "\eaa0";
$icon-Mask: "\eaa1";
$icon-Master-Card: "\eaa2";
$icon-Maximize-Window: "\eaa3";
$icon-Maximize: "\eaa4";
$icon-Medal-2: "\eaa5";
$icon-Medal-3: "\eaa6";
$icon-Medal: "\eaa7";
$icon-Medical-Sign: "\eaa8";
$icon-Medicine-2: "\eaa9";
$icon-Medicine-3: "\eaaa";
$icon-Medicine: "\eaab";
$icon-Megaphone: "\eaac";
$icon-Memory-Card: "\eaad";
$icon-Memory-Card2: "\eaae";
$icon-Memory-Card3: "\eaaf";
$icon-Men: "\eab0";
$icon-Menorah: "\eab1";
$icon-Mens: "\eab2";
$icon-Metacafe: "\eab3";
$icon-Mexico: "\eab4";
$icon-Mic: "\eab5";
$icon-Microphone-2: "\eab6";
$icon-Microphone-3: "\eab7";
$icon-Microphone-4: "\eab8";
$icon-Microphone-5: "\eab9";
$icon-Microphone-6: "\eaba";
$icon-Microphone-7: "\eabb";
$icon-Microphone: "\eabc";
$icon-Microscope: "\eabd";
$icon-Milk-Bottle: "\eabe";
$icon-Mine: "\eabf";
$icon-Minimize-Maximize-Close-Window: "\eac0";
$icon-Minimize-Window: "\eac1";
$icon-Minimize: "\eac2";
$icon-Mirror: "\eac3";
$icon-Mixer: "\eac4";
$icon-Mixx: "\eac5";
$icon-Money-2: "\eac6";
$icon-Money-Bag: "\eac7";
$icon-Money-Smiley: "\eac8";
$icon-Money: "\eac9";
$icon-Monitor-2: "\eaca";
$icon-Monitor-3: "\eacb";
$icon-Monitor-4: "\eacc";
$icon-Monitor-5: "\eacd";
$icon-Monitor-Analytics: "\eace";
$icon-Monitor-Laptop: "\eacf";
$icon-Monitor-phone: "\ead0";
$icon-Monitor-Tablet: "\ead1";
$icon-Monitor-Vertical: "\ead2";
$icon-Monitor: "\ead3";
$icon-Monitoring: "\ead4";
$icon-Monkey: "\ead5";
$icon-Monster: "\ead6";
$icon-Morocco: "\ead7";
$icon-Motorcycle: "\ead8";
$icon-Mouse-2: "\ead9";
$icon-Mouse-3: "\eada";
$icon-Mouse-4: "\eadb";
$icon-Mouse-Pointer: "\eadc";
$icon-Mouse: "\eadd";
$icon-Moustache-Smiley: "\eade";
$icon-Movie-Ticket: "\eadf";
$icon-Movie: "\eae0";
$icon-Mp3-File: "\eae1";
$icon-Museum: "\eae2";
$icon-Mushroom: "\eae3";
$icon-Music-Note: "\eae4";
$icon-Music-Note2: "\eae5";
$icon-Music-Note3: "\eae6";
$icon-Music-Note4: "\eae7";
$icon-Music-Player: "\eae8";
$icon-Mustache-2: "\eae9";
$icon-Mustache-3: "\eaea";
$icon-Mustache-4: "\eaeb";
$icon-Mustache-5: "\eaec";
$icon-Mustache-6: "\eaed";
$icon-Mustache-7: "\eaee";
$icon-Mustache-8: "\eaef";
$icon-Mustache: "\eaf0";
$icon-Mute: "\eaf1";
$icon-Myspace: "\eaf2";
$icon-Navigat-Start: "\eaf3";
$icon-Navigate-End: "\eaf4";
$icon-Navigation-LeftWindow: "\eaf5";
$icon-Navigation-RightWindow: "\eaf6";
$icon-Nepal: "\eaf7";
$icon-Netscape: "\eaf8";
$icon-Network-Window: "\eaf9";
$icon-Network: "\eafa";
$icon-Neutron: "\eafb";
$icon-New-Mail: "\eafc";
$icon-New-Tab: "\eafd";
$icon-Newspaper-2: "\eafe";
$icon-Newspaper: "\eaff";
$icon-Newsvine: "\eb00";
$icon-Next2: "\eb01";
$icon-Next-3: "\eb02";
$icon-Next-Music: "\eb03";
$icon-Next: "\eb04";
$icon-No-Battery: "\eb05";
$icon-No-Drop: "\eb06";
$icon-No-Flash: "\eb07";
$icon-No-Smoking: "\eb08";
$icon-Noose: "\eb09";
$icon-Normal-Text: "\eb0a";
$icon-Note: "\eb0b";
$icon-Notepad-2: "\eb0c";
$icon-Notepad: "\eb0d";
$icon-Nuclear: "\eb0e";
$icon-Numbering-List: "\eb0f";
$icon-Nurse: "\eb10";
$icon-Office-Lamp: "\eb11";
$icon-Office: "\eb12";
$icon-Oil: "\eb13";
$icon-Old-Camera: "\eb14";
$icon-Old-Cassette: "\eb15";
$icon-Old-Clock: "\eb16";
$icon-Old-Radio: "\eb17";
$icon-Old-Sticky: "\eb18";
$icon-Old-Sticky2: "\eb19";
$icon-Old-Telephone: "\eb1a";
$icon-Old-TV: "\eb1b";
$icon-On-Air: "\eb1c";
$icon-On-Off-2: "\eb1d";
$icon-On-Off-3: "\eb1e";
$icon-On-off: "\eb1f";
$icon-One-Finger: "\eb20";
$icon-One-FingerTouch: "\eb21";
$icon-One-Window: "\eb22";
$icon-Open-Banana: "\eb23";
$icon-Open-Book: "\eb24";
$icon-Opera-House: "\eb25";
$icon-Opera: "\eb26";
$icon-Optimization: "\eb27";
$icon-Orientation-2: "\eb28";
$icon-Orientation-3: "\eb29";
$icon-Orientation: "\eb2a";
$icon-Orkut: "\eb2b";
$icon-Ornament: "\eb2c";
$icon-Over-Time: "\eb2d";
$icon-Over-Time2: "\eb2e";
$icon-Owl: "\eb2f";
$icon-Pac-Man: "\eb30";
$icon-Paint-Brush: "\eb31";
$icon-Paint-Bucket: "\eb32";
$icon-Paintbrush: "\eb33";
$icon-Palette: "\eb34";
$icon-Palm-Tree: "\eb35";
$icon-Panda: "\eb36";
$icon-Panorama: "\eb37";
$icon-Pantheon: "\eb38";
$icon-Pantone: "\eb39";
$icon-Pants: "\eb3a";
$icon-Paper-Plane: "\eb3b";
$icon-Paper: "\eb3c";
$icon-Parasailing: "\eb3d";
$icon-Parrot: "\eb3e";
$icon-Password-2shopping: "\eb3f";
$icon-Password-Field: "\eb40";
$icon-Password-shopping: "\eb41";
$icon-Password: "\eb42";
$icon-pause-2: "\eb43";
$icon-Pause: "\eb44";
$icon-Paw: "\eb45";
$icon-Pawn: "\eb46";
$icon-Paypal: "\eb47";
$icon-Pen-2: "\eb48";
$icon-Pen-3: "\eb49";
$icon-Pen-4: "\eb4a";
$icon-Pen-5: "\eb4b";
$icon-Pen-6: "\eb4c";
$icon-Pen: "\eb4d";
$icon-Pencil-Ruler: "\eb4e";
$icon-Pencil: "\eb4f";
$icon-Penguin: "\eb50";
$icon-Pentagon: "\eb51";
$icon-People-onCloud: "\eb52";
$icon-Pepper-withFire: "\eb53";
$icon-Pepper: "\eb54";
$icon-Petrol: "\eb55";
$icon-Petronas-Tower: "\eb56";
$icon-Philipines: "\eb57";
$icon-Phone-2: "\eb58";
$icon-Phone-3: "\eb59";
$icon-Phone-3G: "\eb5a";
$icon-Phone-4G: "\eb5b";
$icon-Phone-Simcard: "\eb5c";
$icon-Phone-SMS: "\eb5d";
$icon-Phone-Wifi: "\eb5e";
$icon-Phone: "\eb5f";
$icon-Photo-2: "\eb60";
$icon-Photo-3: "\eb61";
$icon-Photo-Album: "\eb62";
$icon-Photo-Album2: "\eb63";
$icon-Photo-Album3: "\eb64";
$icon-Photo: "\eb65";
$icon-Photos: "\eb66";
$icon-Physics: "\eb67";
$icon-Pi: "\eb68";
$icon-Piano: "\eb69";
$icon-Picasa: "\eb6a";
$icon-Pie-Chart: "\eb6b";
$icon-Pie-Chart2: "\eb6c";
$icon-Pie-Chart3: "\eb6d";
$icon-Pilates-2: "\eb6e";
$icon-Pilates-3: "\eb6f";
$icon-Pilates: "\eb70";
$icon-Pilot: "\eb71";
$icon-Pinch: "\eb72";
$icon-Ping-Pong: "\eb73";
$icon-Pinterest: "\eb74";
$icon-Pipe: "\eb75";
$icon-Pipette: "\eb76";
$icon-Piramids: "\eb77";
$icon-Pisces-2: "\eb78";
$icon-Pisces: "\eb79";
$icon-Pizza-Slice: "\eb7a";
$icon-Pizza: "\eb7b";
$icon-Plane-2: "\eb7c";
$icon-Plane: "\eb7d";
$icon-Plant: "\eb7e";
$icon-Plasmid: "\eb7f";
$icon-Plaster: "\eb80";
$icon-Plastic-CupPhone: "\eb81";
$icon-Plastic-CupPhone2: "\eb82";
$icon-Plate: "\eb83";
$icon-Plates: "\eb84";
$icon-Plaxo: "\eb85";
$icon-Play-Music: "\eb86";
$icon-Plug-In: "\eb87";
$icon-Plug-In2: "\eb88";
$icon-Plurk: "\eb89";
$icon-Pointer: "\eb8a";
$icon-Poland: "\eb8b";
$icon-Police-Man: "\eb8c";
$icon-Police-Station: "\eb8d";
$icon-Police-Woman: "\eb8e";
$icon-Police: "\eb8f";
$icon-Polo-Shirt: "\eb90";
$icon-Portrait: "\eb91";
$icon-Portugal: "\eb92";
$icon-Post-Mail: "\eb93";
$icon-Post-Mail2: "\eb94";
$icon-Post-Office: "\eb95";
$icon-Post-Sign: "\eb96";
$icon-Post-Sign2ways: "\eb97";
$icon-Posterous: "\eb98";
$icon-Pound-Sign: "\eb99";
$icon-Pound-Sign2: "\eb9a";
$icon-Pound: "\eb9b";
$icon-Power-2: "\eb9c";
$icon-Power-3: "\eb9d";
$icon-Power-Cable: "\eb9e";
$icon-Power-Station: "\eb9f";
$icon-Power: "\eba0";
$icon-Prater: "\eba1";
$icon-Present: "\eba2";
$icon-Presents: "\eba3";
$icon-Press: "\eba4";
$icon-Preview: "\eba5";
$icon-Previous: "\eba6";
$icon-Pricing: "\eba7";
$icon-Printer: "\eba8";
$icon-Professor: "\eba9";
$icon-Profile: "\ebaa";
$icon-Project: "\ebab";
$icon-Projector-2: "\ebac";
$icon-Projector: "\ebad";
$icon-Pulse: "\ebae";
$icon-Pumpkin: "\ebaf";
$icon-Punk: "\ebb0";
$icon-Punker: "\ebb1";
$icon-Puzzle: "\ebb2";
$icon-QIK: "\ebb3";
$icon-QR-Code: "\ebb4";
$icon-Queen-2: "\ebb5";
$icon-Queen: "\ebb6";
$icon-Quill-2: "\ebb7";
$icon-Quill-3: "\ebb8";
$icon-Quill: "\ebb9";
$icon-Quotes-2: "\ebba";
$icon-Quotes: "\ebbb";
$icon-Radio: "\ebbc";
$icon-Radioactive: "\ebbd";
$icon-Rafting: "\ebbe";
$icon-Rain-Drop: "\ebbf";
$icon-Rainbow-2: "\ebc0";
$icon-Rainbow: "\ebc1";
$icon-Ram: "\ebc2";
$icon-Razzor-Blade: "\ebc3";
$icon-Receipt-2: "\ebc4";
$icon-Receipt-3: "\ebc5";
$icon-Receipt-4: "\ebc6";
$icon-Receipt: "\ebc7";
$icon-Record2: "\ebc8";
$icon-Record-3: "\ebc9";
$icon-Record-Music: "\ebca";
$icon-Record: "\ebcb";
$icon-Recycling-2: "\ebcc";
$icon-Recycling: "\ebcd";
$icon-Reddit: "\ebce";
$icon-Redhat: "\ebcf";
$icon-Redirect: "\ebd0";
$icon-Redo: "\ebd1";
$icon-Reel: "\ebd2";
$icon-Refinery: "\ebd3";
$icon-Refresh-Window: "\ebd4";
$icon-Refresh: "\ebd5";
$icon-Reload-2: "\ebd6";
$icon-Reload-3: "\ebd7";
$icon-Reload: "\ebd8";
$icon-Remote-Controll: "\ebd9";
$icon-Remote-Controll2: "\ebda";
$icon-Remove-Bag: "\ebdb";
$icon-Remove-Basket: "\ebdc";
$icon-Remove-Cart: "\ebdd";
$icon-Remove-File: "\ebde";
$icon-Remove-User: "\ebdf";
$icon-Remove-Window: "\ebe0";
$icon-Remove: "\ebe1";
$icon-Rename: "\ebe2";
$icon-Repair: "\ebe3";
$icon-Repeat-2: "\ebe4";
$icon-Repeat-3: "\ebe5";
$icon-Repeat-4: "\ebe6";
$icon-Repeat-5: "\ebe7";
$icon-Repeat-6: "\ebe8";
$icon-Repeat-7: "\ebe9";
$icon-Repeat: "\ebea";
$icon-Reset: "\ebeb";
$icon-Resize: "\ebec";
$icon-Restore-Window: "\ebed";
$icon-Retouching: "\ebee";
$icon-Retro-Camera: "\ebef";
$icon-Retro: "\ebf0";
$icon-Retweet: "\ebf1";
$icon-Reverbnation: "\ebf2";
$icon-Rewind: "\ebf3";
$icon-RGB: "\ebf4";
$icon-Ribbon-2: "\ebf5";
$icon-Ribbon-3: "\ebf6";
$icon-Ribbon: "\ebf7";
$icon-Right-2: "\ebf8";
$icon-Right-3: "\ebf9";
$icon-Right-4: "\ebfa";
$icon-Right-ToLeft: "\ebfb";
$icon-Right: "\ebfc";
$icon-Road-2: "\ebfd";
$icon-Road-3: "\ebfe";
$icon-Road: "\ebff";
$icon-Robot-2: "\ec00";
$icon-Robot: "\ec01";
$icon-Rock-andRoll: "\ec02";
$icon-Rocket: "\ec03";
$icon-Roller: "\ec04";
$icon-Roof: "\ec05";
$icon-Rook: "\ec06";
$icon-Rotate-Gesture: "\ec07";
$icon-Rotate-Gesture2: "\ec08";
$icon-Rotate-Gesture3: "\ec09";
$icon-Rotation-390: "\ec0a";
$icon-Rotation: "\ec0b";
$icon-Router-2: "\ec0c";
$icon-Router: "\ec0d";
$icon-RSS: "\ec0e";
$icon-Ruler-2: "\ec0f";
$icon-Ruler: "\ec10";
$icon-Running-Shoes: "\ec11";
$icon-Running: "\ec12";
$icon-Safari: "\ec13";
$icon-Safe-Box: "\ec14";
$icon-Safe-Box2: "\ec15";
$icon-Safety-PinClose: "\ec16";
$icon-Safety-PinOpen: "\ec17";
$icon-Sagittarus-2: "\ec18";
$icon-Sagittarus: "\ec19";
$icon-Sailing-Ship: "\ec1a";
$icon-Sand-watch: "\ec1b";
$icon-Sand-watch2: "\ec1c";
$icon-Santa-Claus: "\ec1d";
$icon-Santa-Claus2: "\ec1e";
$icon-Santa-onSled: "\ec1f";
$icon-Satelite-2: "\ec20";
$icon-Satelite: "\ec21";
$icon-Save-Window: "\ec22";
$icon-Save: "\ec23";
$icon-Saw: "\ec24";
$icon-Saxophone: "\ec25";
$icon-Scale: "\ec26";
$icon-Scarf: "\ec27";
$icon-Scissor: "\ec28";
$icon-Scooter-Front: "\ec29";
$icon-Scooter: "\ec2a";
$icon-Scorpio-2: "\ec2b";
$icon-Scorpio: "\ec2c";
$icon-Scotland: "\ec2d";
$icon-Screwdriver: "\ec2e";
$icon-Scroll-Fast: "\ec2f";
$icon-Scroll: "\ec30";
$icon-Scroller-2: "\ec31";
$icon-Scroller: "\ec32";
$icon-Sea-Dog: "\ec33";
$icon-Search-onCloud: "\ec34";
$icon-Search-People: "\ec35";
$icon-secound: "\ec36";
$icon-secound2: "\ec37";
$icon-Security-Block: "\ec38";
$icon-Security-Bug: "\ec39";
$icon-Security-Camera: "\ec3a";
$icon-Security-Check: "\ec3b";
$icon-Security-Settings: "\ec3c";
$icon-Security-Smiley: "\ec3d";
$icon-Securiy-Remove: "\ec3e";
$icon-Seed: "\ec3f";
$icon-Selfie: "\ec40";
$icon-Serbia: "\ec41";
$icon-Server-2: "\ec42";
$icon-Server: "\ec43";
$icon-Servers: "\ec44";
$icon-Settings-Window: "\ec45";
$icon-Sewing-Machine: "\ec46";
$icon-Sexual: "\ec47";
$icon-Share-onCloud: "\ec48";
$icon-Share-Window: "\ec49";
$icon-Share: "\ec4a";
$icon-Sharethis: "\ec4b";
$icon-Shark: "\ec4c";
$icon-Sheep: "\ec4d";
$icon-Sheriff-Badge: "\ec4e";
$icon-Shield: "\ec4f";
$icon-Ship-2: "\ec50";
$icon-Ship: "\ec51";
$icon-Shirt: "\ec52";
$icon-Shoes-2: "\ec53";
$icon-Shoes-3: "\ec54";
$icon-Shoes: "\ec55";
$icon-Shop-2: "\ec56";
$icon-Shop-3: "\ec57";
$icon-Shop-4: "\ec58";
$icon-Shop: "\ec59";
$icon-Shopping-Bag: "\ec5a";
$icon-Shopping-Basket: "\ec5b";
$icon-Shopping-Cart: "\ec5c";
$icon-Short-Pants: "\ec5d";
$icon-Shoutwire: "\ec5e";
$icon-Shovel: "\ec5f";
$icon-Shuffle-2: "\ec60";
$icon-Shuffle-3: "\ec61";
$icon-Shuffle-4: "\ec62";
$icon-Shuffle: "\ec63";
$icon-Shutter: "\ec64";
$icon-Sidebar-Window: "\ec65";
$icon-Signal: "\ec66";
$icon-Singapore: "\ec67";
$icon-Skate-Shoes: "\ec68";
$icon-Skateboard-2: "\ec69";
$icon-Skateboard: "\ec6a";
$icon-Skeleton: "\ec6b";
$icon-Ski: "\ec6c";
$icon-Skirt: "\ec6d";
$icon-Skrill: "\ec6e";
$icon-Skull: "\ec6f";
$icon-Skydiving: "\ec70";
$icon-Skype: "\ec71";
$icon-Sled-withGifts: "\ec72";
$icon-Sled: "\ec73";
$icon-Sleeping: "\ec74";
$icon-Sleet: "\ec75";
$icon-Slippers: "\ec76";
$icon-Smart: "\ec77";
$icon-Smartphone-2: "\ec78";
$icon-Smartphone-3: "\ec79";
$icon-Smartphone-4: "\ec7a";
$icon-Smartphone-Secure: "\ec7b";
$icon-Smartphone: "\ec7c";
$icon-Smile: "\ec7d";
$icon-Smoking-Area: "\ec7e";
$icon-Smoking-Pipe: "\ec7f";
$icon-Snake: "\ec80";
$icon-Snorkel: "\ec81";
$icon-Snow-2: "\ec82";
$icon-Snow-Dome: "\ec83";
$icon-Snow-Storm: "\ec84";
$icon-Snow: "\ec85";
$icon-Snowflake-2: "\ec86";
$icon-Snowflake-3: "\ec87";
$icon-Snowflake-4: "\ec88";
$icon-Snowflake: "\ec89";
$icon-Snowman: "\ec8a";
$icon-Soccer-Ball: "\ec8b";
$icon-Soccer-Shoes: "\ec8c";
$icon-Socks: "\ec8d";
$icon-Solar: "\ec8e";
$icon-Sound-Wave: "\ec8f";
$icon-Sound: "\ec90";
$icon-Soundcloud: "\ec91";
$icon-Soup: "\ec92";
$icon-South-Africa: "\ec93";
$icon-Space-Needle: "\ec94";
$icon-Spain: "\ec95";
$icon-Spam-Mail: "\ec96";
$icon-Speach-Bubble: "\ec97";
$icon-Speach-Bubble2: "\ec98";
$icon-Speach-Bubble3: "\ec99";
$icon-Speach-Bubble4: "\ec9a";
$icon-Speach-Bubble5: "\ec9b";
$icon-Speach-Bubble6: "\ec9c";
$icon-Speach-Bubble7: "\ec9d";
$icon-Speach-Bubble8: "\ec9e";
$icon-Speach-Bubble9: "\ec9f";
$icon-Speach-Bubble10: "\eca0";
$icon-Speach-Bubble11: "\eca1";
$icon-Speach-Bubble12: "\eca2";
$icon-Speach-Bubble13: "\eca3";
$icon-Speach-BubbleAsking: "\eca4";
$icon-Speach-BubbleComic: "\eca5";
$icon-Speach-BubbleComic2: "\eca6";
$icon-Speach-BubbleComic3: "\eca7";
$icon-Speach-BubbleComic4: "\eca8";
$icon-Speach-BubbleDialog: "\eca9";
$icon-Speach-Bubbles: "\ecaa";
$icon-Speak-2: "\ecab";
$icon-Speak: "\ecac";
$icon-Speaker-2: "\ecad";
$icon-Speaker: "\ecae";
$icon-Spell-Check: "\ecaf";
$icon-Spell-CheckABC: "\ecb0";
$icon-Spermium: "\ecb1";
$icon-Spider: "\ecb2";
$icon-Spiderweb: "\ecb3";
$icon-Split-FourSquareWindow: "\ecb4";
$icon-Split-Horizontal: "\ecb5";
$icon-Split-Horizontal2Window: "\ecb6";
$icon-Split-Vertical: "\ecb7";
$icon-Split-Vertical2: "\ecb8";
$icon-Split-Window: "\ecb9";
$icon-Spoder: "\ecba";
$icon-Spoon: "\ecbb";
$icon-Sport-Mode: "\ecbc";
$icon-Sports-Clothings1: "\ecbd";
$icon-Sports-Clothings2: "\ecbe";
$icon-Sports-Shirt: "\ecbf";
$icon-Spot: "\ecc0";
$icon-Spray: "\ecc1";
$icon-Spread: "\ecc2";
$icon-Spring: "\ecc3";
$icon-Spurl: "\ecc4";
$icon-Spy: "\ecc5";
$icon-Squirrel: "\ecc6";
$icon-SSL: "\ecc7";
$icon-St-BasilsCathedral: "\ecc8";
$icon-St-PaulsCathedral: "\ecc9";
$icon-Stamp-2: "\ecca";
$icon-Stamp: "\eccb";
$icon-Stapler: "\eccc";
$icon-Star-Track: "\eccd";
$icon-Star: "\ecce";
$icon-Starfish: "\eccf";
$icon-Start2: "\ecd0";
$icon-Start-3: "\ecd1";
$icon-Start-ways: "\ecd2";
$icon-Start: "\ecd3";
$icon-Statistic: "\ecd4";
$icon-Stethoscope: "\ecd5";
$icon-stop--2: "\ecd6";
$icon-Stop-Music: "\ecd7";
$icon-Stop: "\ecd8";
$icon-Stopwatch-2: "\ecd9";
$icon-Stopwatch: "\ecda";
$icon-Storm: "\ecdb";
$icon-Street-View: "\ecdc";
$icon-Street-View2: "\ecdd";
$icon-Strikethrough-Text: "\ecde";
$icon-Stroller: "\ecdf";
$icon-Structure: "\ece0";
$icon-Student-Female: "\ece1";
$icon-Student-Hat: "\ece2";
$icon-Student-Hat2: "\ece3";
$icon-Student-Male: "\ece4";
$icon-Student-MaleFemale: "\ece5";
$icon-Students: "\ece6";
$icon-Studio-Flash: "\ece7";
$icon-Studio-Lightbox: "\ece8";
$icon-Stumbleupon: "\ece9";
$icon-Suit: "\ecea";
$icon-Suitcase: "\eceb";
$icon-Sum-2: "\ecec";
$icon-Sum: "\eced";
$icon-Summer: "\ecee";
$icon-Sun-CloudyRain: "\ecef";
$icon-Sun: "\ecf0";
$icon-Sunglasses-2: "\ecf1";
$icon-Sunglasses-3: "\ecf2";
$icon-Sunglasses-Smiley: "\ecf3";
$icon-Sunglasses-Smiley2: "\ecf4";
$icon-Sunglasses-W: "\ecf5";
$icon-Sunglasses-W2: "\ecf6";
$icon-Sunglasses-W3: "\ecf7";
$icon-Sunglasses: "\ecf8";
$icon-Sunrise: "\ecf9";
$icon-Sunset: "\ecfa";
$icon-Superman: "\ecfb";
$icon-Support: "\ecfc";
$icon-Surprise: "\ecfd";
$icon-Sushi: "\ecfe";
$icon-Sweden: "\ecff";
$icon-Swimming-Short: "\ed00";
$icon-Swimming: "\ed01";
$icon-Swimmwear: "\ed02";
$icon-Switch: "\ed03";
$icon-Switzerland: "\ed04";
$icon-Sync-Cloud: "\ed05";
$icon-Sync: "\ed06";
$icon-Synchronize-2: "\ed07";
$icon-Synchronize: "\ed08";
$icon-T-Shirt: "\ed09";
$icon-Tablet-2: "\ed0a";
$icon-Tablet-3: "\ed0b";
$icon-Tablet-Orientation: "\ed0c";
$icon-Tablet-Phone: "\ed0d";
$icon-Tablet-Secure: "\ed0e";
$icon-Tablet-Vertical: "\ed0f";
$icon-Tablet: "\ed10";
$icon-Tactic: "\ed11";
$icon-Tag-2: "\ed12";
$icon-Tag-3: "\ed13";
$icon-Tag-4: "\ed14";
$icon-Tag-5: "\ed15";
$icon-Tag: "\ed16";
$icon-Taj-Mahal: "\ed17";
$icon-Talk-Man: "\ed18";
$icon-Tap: "\ed19";
$icon-Target-Market: "\ed1a";
$icon-Target: "\ed1b";
$icon-Taurus-2: "\ed1c";
$icon-Taurus: "\ed1d";
$icon-Taxi-2: "\ed1e";
$icon-Taxi-Sign: "\ed1f";
$icon-Taxi: "\ed20";
$icon-Teacher: "\ed21";
$icon-Teapot: "\ed22";
$icon-Technorati: "\ed23";
$icon-Teddy-Bear: "\ed24";
$icon-Tee-Mug: "\ed25";
$icon-Telephone-2: "\ed26";
$icon-Telephone: "\ed27";
$icon-Telescope: "\ed28";
$icon-Temperature-2: "\ed29";
$icon-Temperature-3: "\ed2a";
$icon-Temperature: "\ed2b";
$icon-Temple: "\ed2c";
$icon-Tennis-Ball: "\ed2d";
$icon-Tennis: "\ed2e";
$icon-Tent: "\ed2f";
$icon-Test-Tube: "\ed30";
$icon-Test-Tube2: "\ed31";
$icon-Testimonal: "\ed32";
$icon-Text-Box: "\ed33";
$icon-Text-Effect: "\ed34";
$icon-Text-HighlightColor: "\ed35";
$icon-Text-Paragraph: "\ed36";
$icon-Thailand: "\ed37";
$icon-The-WhiteHouse: "\ed38";
$icon-This-SideUp: "\ed39";
$icon-Thread: "\ed3a";
$icon-Three-ArrowFork: "\ed3b";
$icon-Three-Fingers: "\ed3c";
$icon-Three-FingersDrag: "\ed3d";
$icon-Three-FingersDrag2: "\ed3e";
$icon-Three-FingersTouch: "\ed3f";
$icon-Thumb: "\ed40";
$icon-Thumbs-DownSmiley: "\ed41";
$icon-Thumbs-UpSmiley: "\ed42";
$icon-Thunder: "\ed43";
$icon-Thunderstorm: "\ed44";
$icon-Ticket: "\ed45";
$icon-Tie-2: "\ed46";
$icon-Tie-3: "\ed47";
$icon-Tie-4: "\ed48";
$icon-Tie: "\ed49";
$icon-Tiger: "\ed4a";
$icon-Time-Backup: "\ed4b";
$icon-Time-Bomb: "\ed4c";
$icon-Time-Clock: "\ed4d";
$icon-Time-Fire: "\ed4e";
$icon-Time-Machine: "\ed4f";
$icon-Time-Window: "\ed50";
$icon-Timer-2: "\ed51";
$icon-Timer: "\ed52";
$icon-To-Bottom: "\ed53";
$icon-To-Bottom2: "\ed54";
$icon-To-Left: "\ed55";
$icon-To-Right: "\ed56";
$icon-To-Top: "\ed57";
$icon-To-Top2: "\ed58";
$icon-Token-: "\ed59";
$icon-Tomato: "\ed5a";
$icon-Tongue: "\ed5b";
$icon-Tooth-2: "\ed5c";
$icon-Tooth: "\ed5d";
$icon-Top-ToBottom: "\ed5e";
$icon-Touch-Window: "\ed5f";
$icon-Tourch: "\ed60";
$icon-Tower-2: "\ed61";
$icon-Tower-Bridge: "\ed62";
$icon-Tower: "\ed63";
$icon-Trace: "\ed64";
$icon-Tractor: "\ed65";
$icon-traffic-Light: "\ed66";
$icon-Traffic-Light2: "\ed67";
$icon-Train-2: "\ed68";
$icon-Train: "\ed69";
$icon-Tram: "\ed6a";
$icon-Transform-2: "\ed6b";
$icon-Transform-3: "\ed6c";
$icon-Transform-4: "\ed6d";
$icon-Transform: "\ed6e";
$icon-Trash-withMen: "\ed6f";
$icon-Tree-2: "\ed70";
$icon-Tree-3: "\ed71";
$icon-Tree-4: "\ed72";
$icon-Tree-5: "\ed73";
$icon-Tree: "\ed74";
$icon-Trekking: "\ed75";
$icon-Triangle-ArrowDown: "\ed76";
$icon-Triangle-ArrowLeft: "\ed77";
$icon-Triangle-ArrowRight: "\ed78";
$icon-Triangle-ArrowUp: "\ed79";
$icon-Tripod-2: "\ed7a";
$icon-Tripod-andVideo: "\ed7b";
$icon-Tripod-withCamera: "\ed7c";
$icon-Tripod-withGopro: "\ed7d";
$icon-Trophy-2: "\ed7e";
$icon-Trophy: "\ed7f";
$icon-Truck: "\ed80";
$icon-Trumpet: "\ed81";
$icon-Tumblr: "\ed82";
$icon-Turkey: "\ed83";
$icon-Turn-Down: "\ed84";
$icon-Turn-Down2: "\ed85";
$icon-Turn-DownFromLeft: "\ed86";
$icon-Turn-DownFromRight: "\ed87";
$icon-Turn-Left: "\ed88";
$icon-Turn-Left3: "\ed89";
$icon-Turn-Right: "\ed8a";
$icon-Turn-Right3: "\ed8b";
$icon-Turn-Up: "\ed8c";
$icon-Turn-Up2: "\ed8d";
$icon-Turtle: "\ed8e";
$icon-Tuxedo: "\ed8f";
$icon-TV: "\ed90";
$icon-Twister: "\ed91";
$icon-Twitter-2: "\ed92";
$icon-Twitter: "\ed93";
$icon-Two-Fingers: "\ed94";
$icon-Two-FingersDrag: "\ed95";
$icon-Two-FingersDrag2: "\ed96";
$icon-Two-FingersScroll: "\ed97";
$icon-Two-FingersTouch: "\ed98";
$icon-Two-Windows: "\ed99";
$icon-Type-Pass: "\ed9a";
$icon-Ukraine: "\ed9b";
$icon-Umbrela: "\ed9c";
$icon-Umbrella-2: "\ed9d";
$icon-Umbrella-3: "\ed9e";
$icon-Under-LineText: "\ed9f";
$icon-Undo: "\eda0";
$icon-United-Kingdom: "\eda1";
$icon-United-States: "\eda2";
$icon-University-2: "\eda3";
$icon-University: "\eda4";
$icon-Unlike-2: "\eda5";
$icon-Unlike: "\eda6";
$icon-Unlock-2: "\eda7";
$icon-Unlock-3: "\eda8";
$icon-Unlock: "\eda9";
$icon-Up--Down: "\edaa";
$icon-Up--Down3: "\edab";
$icon-Up-2: "\edac";
$icon-Up-3: "\edad";
$icon-Up-4: "\edae";
$icon-Up: "\edaf";
$icon-Upgrade: "\edb0";
$icon-Upload-2: "\edb1";
$icon-Upload-toCloud: "\edb2";
$icon-Upload-Window: "\edb3";
$icon-Upload: "\edb4";
$icon-Uppercase-Text: "\edb5";
$icon-Upward: "\edb6";
$icon-URL-Window: "\edb7";
$icon-Usb-2: "\edb8";
$icon-Usb-Cable: "\edb9";
$icon-Usb: "\edba";
$icon-User: "\edbb";
$icon-Ustream: "\edbc";
$icon-Vase: "\edbd";
$icon-Vector-2: "\edbe";
$icon-Vector-3: "\edbf";
$icon-Vector-4: "\edc0";
$icon-Vector-5: "\edc1";
$icon-Vector: "\edc2";
$icon-Venn-Diagram: "\edc3";
$icon-Vest-2: "\edc4";
$icon-Vest: "\edc5";
$icon-Viddler: "\edc6";
$icon-Video-2: "\edc7";
$icon-Video-3: "\edc8";
$icon-Video-4: "\edc9";
$icon-Video-5: "\edca";
$icon-Video-6: "\edcb";
$icon-Video-GameController: "\edcc";
$icon-Video-Len: "\edcd";
$icon-Video-Len2: "\edce";
$icon-Video-Photographer: "\edcf";
$icon-Video-Tripod: "\edd0";
$icon-Video: "\edd1";
$icon-Vietnam: "\edd2";
$icon-View-Height: "\edd3";
$icon-View-Width: "\edd4";
$icon-Vimeo: "\edd5";
$icon-Virgo-2: "\edd6";
$icon-Virgo: "\edd7";
$icon-Virus-2: "\edd8";
$icon-Virus-3: "\edd9";
$icon-Virus: "\edda";
$icon-Visa: "\eddb";
$icon-Voice: "\eddc";
$icon-Voicemail: "\eddd";
$icon-Volleyball: "\edde";
$icon-Volume-Down: "\eddf";
$icon-Volume-Up: "\ede0";
$icon-VPN: "\ede1";
$icon-Wacom-Tablet: "\ede2";
$icon-Waiter: "\ede3";
$icon-Walkie-Talkie: "\ede4";
$icon-Wallet-2: "\ede5";
$icon-Wallet-3: "\ede6";
$icon-Wallet: "\ede7";
$icon-Warehouse: "\ede8";
$icon-Warning-Window: "\ede9";
$icon-Watch-2: "\edea";
$icon-Watch-3: "\edeb";
$icon-Watch: "\edec";
$icon-Wave-2: "\eded";
$icon-Wave: "\edee";
$icon-Webcam: "\edef";
$icon-weight-Lift: "\edf0";
$icon-Wheelbarrow: "\edf1";
$icon-Wheelchair: "\edf2";
$icon-Width-Window: "\edf3";
$icon-Wifi-2: "\edf4";
$icon-Wifi-Keyboard: "\edf5";
$icon-Wifi: "\edf6";
$icon-Wind-Turbine: "\edf7";
$icon-Windmill: "\edf8";
$icon-Window-2: "\edf9";
$icon-Window: "\edfa";
$icon-Windows-2: "\edfb";
$icon-Windows-Microsoft: "\edfc";
$icon-Windows: "\edfd";
$icon-Windsock: "\edfe";
$icon-Windy: "\edff";
$icon-Wine-Bottle: "\ee00";
$icon-Wine-Glass: "\ee01";
$icon-Wink: "\ee02";
$icon-Winter-2: "\ee03";
$icon-Winter: "\ee04";
$icon-Wireless: "\ee05";
$icon-Witch-Hat: "\ee06";
$icon-Witch: "\ee07";
$icon-Wizard: "\ee08";
$icon-Wolf: "\ee09";
$icon-Woman-Sign: "\ee0a";
$icon-WomanMan: "\ee0b";
$icon-Womans-Underwear: "\ee0c";
$icon-Womans-Underwear2: "\ee0d";
$icon-Women: "\ee0e";
$icon-Wonder-Woman: "\ee0f";
$icon-Wordpress: "\ee10";
$icon-Worker-Clothes: "\ee11";
$icon-Worker: "\ee12";
$icon-Wrap-Text: "\ee13";
$icon-Wreath: "\ee14";
$icon-Wrench: "\ee15";
$icon-X-Box: "\ee16";
$icon-X-ray: "\ee17";
$icon-Xanga: "\ee18";
$icon-Xing: "\ee19";
$icon-Yacht: "\ee1a";
$icon-Yahoo-Buzz: "\ee1b";
$icon-Yahoo: "\ee1c";
$icon-Yelp: "\ee1d";
$icon-Yes: "\ee1e";
$icon-Ying-Yang: "\ee1f";
$icon-Youtube: "\ee20";
$icon-Z-A: "\ee21";
$icon-Zebra: "\ee22";
$icon-Zombie: "\ee23";
$icon-Zoom-Gesture: "\ee24";
$icon-Zootool: "\ee25";

