// var colors

$t-border: var(--border-color);

$t-text: var(--text-2);
$t-text-strong: var(--text-1);
$t-text-light: var(--text-3);
$t-text-white: var(--text-white);

$t-link: var(--link);
$t-link-visited: var(--link-visited);

$t-primary: var(--primary);
$t-primary-invert: var(--primary-invert);
$t-success: var(--success);
$t-success-invert: var(--success-invert);
$t-danger: var(--danger);
$t-danger-invert: var(--danger-invert);
$t-warning: var(--warning);
$t-warning-invert: var(--warning-invert);

$t-focus-ring: var(--focus-ring);

$t-surface-1: var(--surface-1);
$t-surface-2: var(--surface-2);

$t-shadow-1: var(--shadow-1);
$t-shadow-2: var(--shadow-2);
$t-shadow-3: var(--shadow-3);
$t-shadow-4: var(--shadow-4);
$t-shadow-5: var(--shadow-5);
$t-shadow-6: var(--shadow-6);

$t-backdrop-color: var(--backdrop-color);
